#sd{
    font-size: 40px;
}
*{
    background-image: url(dff.jpg);
}

input{
    background: transparent;
    border: none;}
#two{
    background-color: rgb(131, 37, 155);
    
}
#sddd{
    border: 3px solid white;
    margin-right: 1000px;
    padding: 10px;
}
